@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /*************** FORMS ****************/
    .tw-form-label {
        @apply block text-sm font-medium text-gray-700;
    }

    .tw-form-label-checkbox {
        @apply ml-2 tw-form-label;
    }

    .tw-form-input {
        @apply block w-full px-3 py-2 mt-1 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
    }

	.tw-form-textarea {
		@apply block w-full max-w-lg border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
	}

    .tw-form-input-prefix {
        @apply inline-flex items-center px-3 text-sm text-gray-500 border border-r-0 border-gray-300 rounded-l-md bg-gray-50;
    }

    .tw-form-input-suffix {
        @apply inline-flex items-center px-3 text-sm text-gray-500 border border-l-0 border-gray-300 rounded-r-md bg-gray-50;
    }

    .tw-form-select {
        @apply block w-full py-2 pl-3 pr-10 mt-1 text-base border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
    }

    .tw-sidebar-search {
        @apply block w-full h-full py-2 pl-8 pr-3 text-gray-900 placeholder-gray-500 border-transparent focus:outline-none focus:ring-0 focus:border-transparent focus:placeholder-gray-400 sm:text-sm;
    }

    .tw-form-checkbox {
        @apply w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500;
    }

    .tw-form-checkbox-label{
        @apply block ml-2 text-sm text-gray-900;
    }

    .tw-form-section-wrapper {
        @apply px-4 py-5 bg-white rounded-lg rounded-b-none shadow sm:p-6;
    }

    .tw-form-section-heading {
        @apply text-lg font-medium leading-6 text-gray-900;
    }

    .tw-form-section-subheading {
        @apply mt-1 text-sm text-gray-500;
    }

    .tw-form-button-wrapper {
        @apply flex justify-end px-4 py-3 space-x-4 border-t rounded-lg rounded-t-none bg-gray-50;
    }

    .tw-form-input-error {
        @apply mt-2 text-sm text-red-600;
    }



    /*************** BUTTONS ****************/

    .tw-btn {
        @apply flex justify-center px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

    .tw-btn-white {
        @apply text-gray-700 bg-white border-gray-300 hover:bg-gray-50 focus:ring-yellow-500;
    }

    .tw-btn-cyan {
        @apply bg-cyan-600 hover:bg-cyan-700 focus:ring-cyan-500;
    }

    .tw-btn-indigo {
        @apply bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500;
    }

    .tw-btn-green {
        @apply bg-green-600 hover:bg-green-700 focus:ring-green-500;
    }

	.tw-btn-switch {
		@apply relative inline-flex flex-shrink-0 h-6 transition-colors duration-200 ease-in-out bg-gray-200 border-2 border-transparent rounded-full cursor-pointer w-11 focus:outline-none;
	}

	.tw-btn-switch-circle {
		@apply inline-block w-5 h-5 transition duration-200 ease-in-out transform bg-white rounded-full shadow pointer-events-none ring-0;
	}





    /*************** DATA GRID ****************/

    .InovuaReactDataGrid {
        @apply shadow sm:rounded-lg;
    }


    /*************** MISCELLANEOUS ****************/

    .tw-marker {
        @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium capitalize;
    }








    .tw-admin-sidebar-nav-item {
        @apply flex items-center px-2 py-2 text-base font-medium rounded-md text-cyan-100 hover:text-white hover:bg-cyan-600;
    }

    .tw-admin-sidebar-nav-item.active {
        @apply flex items-center px-2 py-2 text-base font-medium text-white rounded-md bg-cyan-800;
    }

    .tw-admin-sidebar-nav-item svg {
        @apply w-6 h-6 mr-4 text-cyan-200;
    }

	.tw-sub-menu-link {
		@apply flex items-center py-2 pl-10 text-sm font-medium rounded-md text-cyan-100 hover:text-white hover:bg-cyan-600;
	}

	.tw-sub-menu-link.active {
		@apply flex items-center py-2 pl-10 text-sm font-medium rounded-md text-cyan-100 hover:text-white hover:bg-cyan-600 bg-cyan-800;
	}

    .tw-admin-table-header {
        @apply px-6 py-3 text-xs font-medium tracking-wider text-white uppercase bg-blue-500;
    }

    .tw-admin-table-row {
        @apply px-6 py-4 text-sm text-left text-gray-500 whitespace-nowrap;
    }
}
